<mat-nav-list>
  <a mat-list-item routerLink="/game/join" routerLinkActive="active">
    <mat-icon>play_circle_filled</mat-icon>
    <p translate>SIDENAV.JOIN_GAME</p>
  </a>

  <a mat-list-item routerLink="/game/create" routerLinkActive="active">
    <mat-icon class="material-icons-outlined">add_to_photos_outlined</mat-icon>
    <p translate>SIDENAV.CREATE_CONTEST</p>
  </a>

  <!-- <a mat-list-item routerLink="/maps" routerLinkActive="active">
    <mat-icon class="material-icons-outlined">create</mat-icon>
    <p translate>SIDENAV.EDIT_MAP</p>
  </a> -->

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/@me" routerLinkActive="active">
    <mat-icon class="material-icons-outlined">person_outline</mat-icon>
    <p translate>SIDENAV.MY_ACCOUNT</p>
  </a>
</mat-nav-list>
