.not-found {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 80px;

  img {
    width: 100px;
    margin: auto;
  }

  p {
    width: 100%;
    text-align: center;
  }

  p {
    font-size: 14px;
    margin-top: 15px;
    opacity: .7;
  }
}
