form > button {
  float: right;
}

.form-card {
  margin-top: 0;
  max-width: 430px;
}

.social-login {
  margin-bottom: 18px;

  button {
    text-align: left;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #252525;
  
    svg {
      height: 20px;
      width: 20px;
      margin-right: 20px;
    }
  }
}

form {
  margin-top: 30px;
}
