@import 'variables';

$pull: -50px;

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background-color: $accent;

  img {
    position: relative;
    top: $pull/2;
    height: 78px;
  }
}

.card {
  position: relative;
  top: $pull;
  display: flex;
  justify-content: center;
  width: 100%;
}
