<ng-container *ngIf="minimized$ | async; else normalLayout">
  <app-minimized>
    <router-outlet></router-outlet>
  </app-minimized>
</ng-container>

<ng-template #normalLayout>
  <app-toolbar></app-toolbar>
  
  <mat-drawer-container>
    <mat-drawer
      [mode]="sidenavMode | async"
      [opened]="sidenavState | async"
      (closedStart)="closeDrawer()"
    >
      <app-sidenav></app-sidenav>
    </mat-drawer>
  
    <mat-drawer-content>
      <div class="page">
        <router-outlet></router-outlet>

        <div class="spacer"></div>

        <app-footer></app-footer>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
