app-toolbar {
  z-index: 100;
}

mat-drawer-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  z-index: 1;

  mat-drawer {
    width: 250px;
    z-index: 10; 
  }

  mat-drawer-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
  }
}


app-sidenav, app-footer, app-toolbar {
  position: relative;
  box-sizing: content-box;
  width: 100%;
}

.page {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;

  .spacer {
    display: flex;
    flex-grow: 1;
  }
}

// Hack for Chrome. If not present, the component doesn't take the full width if we hover an input.
::ng-deep .page > .ng-star-inserted {
  width: 100% !important;
}
