@import 'variables';

.form-card {
  width: 460px;
  max-width: 460px;
  margin-top: 0;

  form {
    margin-top: 5px;
  }
}

.info {
  cursor: pointer;
}

.tos {
  cursor: pointer;
  position: relative;
  top: 1px;
  margin-left: 3px;
  color: darker($accent, 10%);
  text-decoration: underline;
  transition: color .15s linear 0s;

  &:hover {
    color: $accent;
  }
}

/* Legal stuff. */
.legalSection {
  padding: 5px 0;

  button {
    margin-top: 14px;
    float: right;
  }
}

/* Loading. */
.account-creation-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  animation: fadeIn .25s ease-in 0s;

  p {
    position: relative;
    margin-top: 25px;
    font-size: 16px;
    color: #616161;
    animation: slideUp .42s ease-out 0s, fadeIn .2s linear 0s;
  }
}

/* CSS animations. */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { bottom: -30px }
  to { bottom: 0; }
}

/* Nested component modification. */
::ng-deep mat-password-strength-info .mat-card {
  box-shadow: none !important;
}
