<mat-card class="form-card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{ 'SIGN_UP.TITLE' | translate }}</mat-card-title>

    <button mat-icon-button [matTooltip]="'SIGN_UP.SIGN_IN' | translate" routerLink="/sign-in">
      <mat-icon class="material-icons-outlined">assignment</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="languageSection">
        <ng-template matStepLabel>{{ 'SIGN_UP.LANGUAGE.TITLE' | translate }}</ng-template>

        <form [formGroup]="languageSection">
          <mat-form-field appearance="outline">
            <mat-label translate>SIGN_UP.LANGUAGE.LANGUAGE</mat-label>
            <mat-select required formControlName="language">
              <mat-option value="fr">{{ 'ACCOUNT.LANGUAGES.FRENCH' | translate }}</mat-option>
              <mat-option value="en">{{ 'ACCOUNT.LANGUAGES.ENGLISH' | translate }}</mat-option>
            </mat-select>
    
            <mat-error>{{ getErrorMessage('language') | translate }}</mat-error>
          </mat-form-field>
    
          <button type="button" mat-button matStepperNext>
            {{ 'SIGN_UP.CONTINUE' | translate }}
          </button>
        </form>
      </mat-step>

      <mat-step [stepControl]="personalInformationsSection">
        <ng-template matStepLabel>{{ 'SIGN_UP.PERSONAL_DATA.TITLE' | translate }}</ng-template>

        <form [formGroup]="personalInformationsSection">
          <mat-form-field appearance="outline">
            <mat-label translate>SIGN_UP.PERSONAL_DATA.PSEUDONYM</mat-label>
            <input matInput required autocomplete="off" formControlName="username"/>
  
            <mat-icon matSuffix
              class="info material-icons-outlined"
              [matTooltip]="'SIGN_UP.PERSONAL_DATA.PSEUDONYM_INFOS' | translate"
              matTooltipPosition="below"
            >info</mat-icon>
  
            <mat-error>{{ getErrorMessage('username') | translate }}</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label translate>SIGN_UP.PERSONAL_DATA.EMAIL_ADDRESS</mat-label>
            <input matInput required autocomplete="off" formControlName="emailAddress"/>
  
            <mat-icon matSuffix
              class="info material-icons-outlined"
              [matTooltip]="'SIGN_UP.PERSONAL_DATA.EMAIL_ADDRESS_INFOS' | translate"
              matTooltipPosition="below"
            >info</mat-icon>
  
            <mat-error>{{ getErrorMessage('emailAddress') | translate }}</mat-error>
          </mat-form-field>

          <button type="button" [disabled]="!personalInformationsSection.valid" mat-button matStepperNext>
            {{ 'SIGN_UP.CONTINUE' | translate }}
          </button>
        </form>
      </mat-step>

      <mat-step [stepControl]="securitySection">
        <ng-template matStepLabel>{{ 'SIGN_UP.SECURE.TITLE' | translate }}</ng-template>

        <form [formGroup]="securitySection">

          <mat-form-field appearance="outline" [color]="passwordComponent.color">
            <mat-label translate>SIGN_UP.SECURE.PASSWORD</mat-label>
            <input #password matInput required
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              autocomplete="off"
            />
  
            <button matSuffix mat-icon-button (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
  
          <mat-password-strength #passwordComponent
            [password]="password.value"
            [enableDigitRule]="false"
          ></mat-password-strength>
  
          <mat-password-strength-info
            [passwordComponent]="passwordComponent"
            [enableScoreInfo]="false"
            [lowerCaseCriteriaMsg]="'SIGN_UP.SECURE.PASSWORD_INFO.LOWERCASE' | translate"
            [upperCaseCriteriaMsg]="'SIGN_UP.SECURE.PASSWORD_INFO.UPPERCASE' | translate"
            [specialCharsCriteriaMsg]="'SIGN_UP.SECURE.PASSWORD_INFO.SPECIAL' | translate"
            [minCharsCriteriaMsg]="'SIGN_UP.SECURE.PASSWORD_INFO.LENGTH' | translate"
          ></mat-password-strength-info>
          
          <button type="button" [disabled]="!securitySection.valid" mat-button matStepperNext>
            {{ 'SIGN_UP.CONTINUE' | translate }}
          </button>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'SIGN_UP.CONFIRM.TITLE' | translate }}</ng-template>

        <form class="legalSection" [formGroup]="legalSection" (submit)="submit()">
          <div>
            <mat-checkbox formControlName="acceptTOS">J'accepte </mat-checkbox>
            <a (click)="openTOS()" class="tos">les conditions générales d'utilisation</a>
          </div>

          <button [disabled]="!legalSection.get('acceptTOS').value" mat-raised-button color="accent">
            {{ 'SIGN_UP.CONFIRM.BUTTON' | translate }}
          </button>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>

  <div *ngIf="loading" class="account-creation-loading">
    <mat-spinner [strokeWidth]="7" [diameter]="65"></mat-spinner>
    <p>Nous créons votre compte</p>
  </div>
</mat-card>
