<mat-toolbar color="primary" class="mat-elevation-z5">
  <div class="left-side">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <a class="logo" matRipple routerLink="/">
      <img src="assets/images/layout/logo.png"/>
    </a>
  </div>

  <div class="right-side">
    <button mat-icon-button [matTooltip]="'TOOLBAR.LOGOUT' | translate" (click)="logout()">
      <mat-icon class="material-icons-outlined">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
