<ng-container *ngIf="previews$ | async; let previews">
  <ng-container *ngIf="previews.length > 0; else noPreviews">
    <div class="contest-previews">
      <div class="contest-preview" *ngFor="let preview of previews$ | async">
        <app-contest-preview [data]="preview" (join)="join($event)"></app-contest-preview>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #noPreviews>
  <div class="empty-list">
    <img src="../../../../assets/images/layout/wait.gif"/>
    <p class="mat-subheading-1" translate>LIST_CONTEST.NO_CONTEST</p>
  </div>
</ng-template>

<button mat-fab routerLink="/game/create" color="primary" class="main-button">
  <mat-icon>add</mat-icon>
</button>
