.contest-preview {
  width: 320px;
}

.contest-previews {
  display: grid;
  width: 100%;
  padding: 15px;
  grid-gap: 15px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.empty-list {
  margin: 50px auto 0;
  text-align: center;

  p {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1600px)  {
  .contest-previews {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px)  {
  .contest-previews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px)  {
  .contest-previews {
    grid-template-columns: 1fr;
  }
}
