@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box !important;
}

app-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

/* Wrapper for a page. */
.page-wrapper {
  padding: 15px;
}

/* Scrollbar style. */
$scrollbarColor: #d6d6d6;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbarColor; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($scrollbarColor, 5%); 
}


.main-button {
  position: fixed !important;
  bottom: 25px;
  right: 25px;
  z-index: 10;
}


/* Input outline style. */
.mat-form-field-outline {
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-width: 1px !important;
  }
}

/* Fix non-aligned button. */
.mat-form-field-flex {
  align-items: center !important;
}

/* Sign in and sign up card. */
.form-card {
  position: relative;
  max-width: 500px;
  margin: 30px auto 0;
  overflow: hidden;

  & > mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  mat-card-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  
    mat-icon {
      opacity: .75;
    }
  }
  
  form {
    mat-form-field {
      width: 100%;
    }
  }

  .divider {
    width: 99%;
    height: 1px;
    background: #000;
    opacity: .1;
    margin: 0 auto 18px;
  }
}
